# M03 Notes

# Business

* No office hours on Thursday due to travel.

# From Last Week

See [M02 Notes](../M02_BasicPython/M02-Notes.ipynb) on:

- Indexing strings
- Adding to mutables and immutables

# HW02

## Task 7

Build a dictionary from the touchdowns data, calling it `td`, and print it. Use lists to store the values. Remember that dictionary keys must be unique. (1 PT)

In [41]:
td = {
    'Alex': [2, 1],
    'Patrick': [4],
    'Tom': [1],
    'Joe': [3]
}

In [42]:
td

{'Alex': [2, 1], 'Patrick': [4], 'Tom': [1], 'Joe': [3]}

Automatic population:

In [51]:
td_data = """
Alex    2
Patrick 4
Tom     1
Joe     3
Alex    1
""".split("\n")[1:-1]
td_data

['Alex    2', 'Patrick 4', 'Tom     1', 'Joe     3', 'Alex    1']

In [49]:
td_dict = {}
for row in td_data:
    name, n = row.split()
    if name not in td_dict.keys():
        td_dict[name] = []
    td_dict[name].append(int(n))
td_dict

{'Alex': [2, 1], 'Patrick': [4], 'Tom': [1], 'Joe': [3]}

# Expressions and Statements

**Expressions**

An expression is a combination of variables, operators, functions, \
other expressions, etc. that evaluates to a value.

They are often enclosed in, and may contain, parentheses `(...)`.

They can be placed in any context a value is expected.

In [105]:
import math

x = 10
y = 3.14

In [106]:
(x**y + y**x) # This is an expression

94554.75765124639

In [108]:
round(math.log((x**y + y**x)), 2)

11.46

**Statements**

Statements _do_ things.

See [Lutz](https://learning.oreilly.com/library/view/learning-python-5th/9781449355722/ch10.html#python_statements) for a listing of statements.

# Reversing Strings

In [1]:
str1 = "This is a string"

In [8]:
''.join(reversed(str1))

'gnirts a si sihT'

Note that `reversed(list(str))` returns an _iterable_.

In [36]:
reversed(str1), reversed(list(str1))

(<reversed at 0x11388b850>, <list_reverseiterator at 0x11388bd90>)

# Nesting in Comprehensions

**Example 1**

Create the following:

```python
my_matrix = [
    [0, 1, 2, 3, 4],
    [0, 1, 2, 3, 4],
    [0, 1, 2, 3, 4],
    [0, 1, 2, 3, 4],
    [0, 1, 2, 3, 4]
]
```

Conventional method:

In [37]:
my_matrix = []
n_rows = 5
n_cols = 5

for i in range(n_rows):
    my_matrix.append([])
    for j in range(n_cols):
        my_matrix[i].append(j)

my_matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

As a comprehension:

In [38]:
my_matrix2 = [[j for j in range(n_cols)] for i in range(n_rows)]

my_matrix2

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

Note the difference to this:

In [39]:
[(i,j) for i in range(n_rows) for j in range(n_cols)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

**Example 2**

Nested List Comprehension to flatten a given 2-D matrix.

In [40]:
my_flat_matrix = [val for row in my_matrix for val in row]

my_flat_matrix

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]